# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Environment variables
.env

# Datasets (Large files - processed only)
# Datasets/processed/*.npy

# IDE
.vscode/
.idea/

Paper/Dataset\ Papers/

# Models (if large and not tracked)
# Code/models/*.h5

# User Requested Ignores
Reports/Ignore folder/
