# Core ML & Data
numpy
pandas
scipy
tensorflow
scikit-learn
shap

# Signal Processing
wfdb

# Visualization
matplotlib
plotly

# Web App & Deployment
streamlit>=1.35.0
protobuf<5.0.0
pyngrok
python-dotenv
