# Core ML & Data
numpy
pandas
scipy
tensorflow
scikit-learn==1.8.0
shap

# Signal Processing
wfdb

# Visualization
matplotlib
plotly

# Web App & Deployment
streamlit
pyngrok
python-dotenv

xgboost==3.2.0
lightgbm